<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test" >
        <parameter name="first name" value="Valeriia"></parameter>
        <parameter name="last name" value="Popova"></parameter>
        <classes>
            <class name="tests.ParametersNG" />

            
        </classes>

        <groups>
            <dependencies>
                <group name="dependingtest" depends-on="login"></group>
            </dependencies>
        </groups>
        <classes>
            <class name="tests.DependingTest"></class>
        </classes>
    </test>

    <test name="Regression1">
        <packages>
            <package name="tests"/>
        </packages>

    </test>

</suite>
